image: docker:latest

services:
  - docker:dind

stages:
- build
- deploy

variables:
  #CONTAINER_TEST_IMAGE: my-docker-hub/$CI_PROJECT_ID:$CI_BUILD_REF_NAME_test
  # The following variables are setup via gitlab project group:
  # DOCKER_HUB_TOKEN
  # DOCKER_USERNAME
  # DOCKER_PASSWORD
  # INTERNAL_REGISTRY_HOST
  # INTERNAL_REGISTRY_USER
  # INTERNAL_REGISTRY_PW

before_script:
- apk add --no-cache make bash sudo git
#- make install


build_container:
  stage: build
  script:
  - make build
  - make tags
  #- docker build --pull -t $CONTAINER_TEST_IMAGE .
  #- docker push $CONTAINER_TEST_IMAGE


upload_image_internal_registry:
  stage: deploy
  #only: 
  #- master
  script:
    - echo "$INTERNAL_REGISTRY_PW" | docker login -u "$INTERNAL_REGISTRY_USER" --password-stdin "$INTERNAL_REGISTRY_HOST"
    - make push

.upload_image_hub.docker.com:
  stage: deploy
  only: 
  - master
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - make push


# after_success:
# # notify Docker Hub to make a new build
#   only: master
#   - make notify-hub-docker-com TOKEN=$DOCKER_HUB_TOKEN